<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css.map">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,300&display=swap" rel="stylesheet">
    <title>AbdallahMohsen</title>
    <link rel="stylesheet" href="css/mystyle.css">






    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hurricane&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,700&family=Press+Start+2P&family=Staatliches&display=swap" rel="stylesheet">
</head>





<body>

    <!--
    <span class="toggle" id="collapse">
        <i class="fa-solid fa-align-justify"></i>
    </span>


    <nav class="">
        <span class="close" id="close">x</span>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Service</a>
        <a href="#">Contact</a>

    </nav>
-->

    <nav class=" bg-dark p-3 d-flex justify-content-between ">
        <div class="brand">
            <a href="#">
                <span>Hell</span>
                <span class="brand-light">Fire</span>
            </a>
        </div>

        <div class="link-container bg-dark">
            <span class="close"><i class="fa-regular fa-rectangle-xmark"></i></span>
            <a href="#">Home</a>
            <a href="#books-scroll">Help</a>
            <a href="#">serv</a>
            <a href="#footer">Contact</a>

        </div>
        <div class="toggler">
            <span id="show"><i class="fa-solid fa-align-justify"></i></span>
        </div>
    </nav>

    <!--
    <a href="https://mail.google.com/mail/u/0/" target="_blank">abdallah3162@gmail.com</a>
    -->

    <div class="landing container-fluid" data-aos="fade-up">
        <div class="text-center pt-3">
            <h1 class="text-light">CAL NEWPORT</h1>
            <div class="land-link-container text-center">
                <a href="https://www.linkedin.com/in/abdalla-mohsen-3a9553227/" class=" text-black-50 text-uppercase">linked In</a>
                <a href="#" class=" text-black-50 text-uppercase">facebook</a>
                <a href="https://github.com/" class=" text-black-50 text-uppercase">git Hup</a>
            </div>
        </div>


        <div class="books">
            <div class="">
                <p>"All the context books which has been studied"</p>
                <a href="#books-scroll">Books</a>
            </div>
        </div>

        <div class="book-pic">
            <div>
                <div class="img-container">
                    <img src="imgs/datas.jpg" alt="" style="max-width: 15rem;">
                </div>
            </div>
        </div>

    </div>



    <div class="q-section p-lg-5 lh-lg pt-5" data-aos="fade-up">
        <h4>
            <span class="line-under">WHAT</span> THEY SAY
        </h4>
        <div class="q-and-a">

            <p class="q" data-aos="fade-up">“A World Without Email crystallizes what so many of us feel intuitively but haven’t been able to explain: the way we’re working isn’t working. Cal Newport charts a path back to sanity, offering a variety of road-tested practices to help us
                escape the tyranny of our inboxes and achieve a calmer, more intentional, and more productive working life.”</p>
            <p class="a" data-aos="fade-up">--Drew Houston, cofounder and CEO of Dropbox
            </p>
            <p class="q" data-aos="fade-up">
                “This book is a call to action. Newport suggests that now is the time to reimagine work with the specific goal of optimizing our brain’s ability to sustainably add value. Don’t let your teams and organizations lose out any further—read this book to help
                you get started.”
            </p>
            <p class="a" data-aos="fade-up">--Leslie A. Perlow, author of Sleeping with Your Smartphone and professor of leadership at Harvard Business School

            </p>
        </div>

    </div>

    <!--
        skills section
        ##############################
        ##############################
        ##############################
        ##############################
    -->

    <h1 class="display-1 text-center animated-title" data-aos="fade-up">About</h1>


    <div class="skills container-fluid" data-aos="fade-up">


        <div class="row justify-content-center">
            <div class="imger col-lg-4 col-md-4 col-sm-11" style="max-width: 25rem;" data-aos="fade-up">
                <img src="imgs/me2.jpg" alt="" style="max-width:100% ;">
            </div>

            <div class="details col-lg-7 col-md-6 col-sm-11" data-aos="fade-up">
                <h1 class="jop-title display-4" data-aos="fade-up">ABDALLAH MOHSEN</h1>
                <p class=" mt-5">A Full Stack Developer is someone who works with the Back End — or server side — of the application as well as the Front End, or client side. Full Stack Developers have to have some skills in a wide variety of coding niches, from databases
                    to graphic design and UI/UX management in order to do their job well.
                </p>

                <h4 style="color:orangered ;" data-aos="fade-up">highlights of expertise</h4>
                <div class="expertise" data-aos="fade-up">
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JS</li>
                    </ul>
                    <ul>
                        <li>Vue.JS</li>
                        <li>DJANGO</li>
                        <li>Bootstrap</li>
                    </ul>
                    <ul>
                        <li>DATASTRUCTURE</li>
                        <li>MATH</li>
                        <li>ALGORITHMS</li>
                    </ul>
                </div>

                <div class="bullets" data-aos="fade-up">
                    <div style="background-color:#f1922c ;">
                        Resume
                    </div>
                    <div style="background-color:#00bccc ;">
                        Portifolio
                    </div>
                    <div style="background-color:#a1cd3a ;">
                        Blog
                    </div>
                    <div style="background-color:#fdc42d ;">
                        Contact
                    </div>

                </div>

            </div>

        </div>
    </div>

    <!--
        https://abdallahmohsen3162.github.io/bondi/indesx
        --------------
        --------------
        --------------
    -->
    <h1 class="display-1 text-center animated-title" data-aos="fade-up">Projects</h1>


    <div id="tap" class="taps container-fluid mt-5" data-aos="fade-up">
        <div class=" taps-head " data-aos="fade-up ">
            <span :class="{active:currentActive==1} " @click="currentActive=1 ">Bondi</span>
            <span :class="{active:currentActive==2} " @click="currentActive=2 ">Real Food</span>
            <span :class="{active:currentActive==3} " @click="currentActive=3 ">GAMDIAS</span>
            <span :class="{active:currentActive==4} " @click="currentActive=4 ">Linked in</span>
        </div>

        <div class=" " v-if="currentActive==1 ">
            <a href="https://abdallahmohsen3162.github.io/bondi/indesx ">
                <img src="imgs/bondi.png " alt=" " style="max-width: 100%; ">
            </a>
        </div>

        <div class=" " v-if="currentActive==2 ">
            <a href="https://abdallahmohsen3162.github.io/First/first-temp.html ">
                <img src="imgs/real.png " alt=" " style="max-width: 100%; ">
            </a>
        </div>

        <div class=" " v-if="currentActive==3 ">
            <a href="https://abdallahmohsen3162.github.io/GAMDIAS/indesx ">
                <img src="imgs/games.png " style="max-width: 100%; ">
            </a>
        </div>

        <div class=" " v-if="currentActive==4 ">
            <a href="https://www.linkedin.com/in/abdalla-mohsen-3a9553227/ ">
                <img src="imgs/linked.png " style="max-width: 100%; ">
            </a>
        </div>
    </div>
    <br><br><br>

    <h1 class="display-1 text-center animated-title " data-aos="fade-up" id="books-scroll">Books</h1>
    <div class="url-img">

        <div id="collapse" class=" mt-5 pt-2 " data-aos="fade-up">

            <div class="d-flex justify-content-center flex-wrap container-fluid align-items-center gap-3 " data-aos="fade-up" style="z-index: 3;">

                <a href="#DATABASE" class="collapse-button " @click="currentActive=1" data-aos="fade-up">
                    <img src="imgs/database.jpg " alt=" ">
                </a>

                <a href="#DATAST" class="collapse-button " @click="currentActive=2" data-aos="fade-up">
                    <img src="imgs/datas.jpg " alt=" ">
                </a>

                <a class="collapse-button " @click="currentActive=3" data-aos="fade-up">
                    <img src="imgs/algebra.jpg " alt=" ">
                </a>


                <a class="collapse-button " @click="currentActive=4" data-aos="fade-up">
                    <img src="imgs/django.jpg " alt=" ">
                </a>

            </div>



            <div :class="{ deop:currentActive==1 }" class="not-shown " id="DATABASE">
                <h1>DATABASE</h1>
                <ul>
                    <li>Relational algebra</li>
                    <li>SQL</li>
                    <li>ER Model</li>
                    <li>EER Model</li>
                </ul>
            </div>

            <div :class="{ deop:currentActive==2 }" class="not-shown " id="DATAST">
                <h1>DATASTRUCTURE</h1>
                <ul>
                    <li>Linear datastructures</li>
                    <li>Non Linear datastructures</li>
                    <li>Algorithms</li>
                    <li>Time Space complexity</li>
                </ul>
            </div>

            <div :class="{ deop:currentActive==3 }" class="not-shown">
                <h1>Math</h1>
                <ul>
                    <li>Calculas</li>
                    <li>Advanced calculas Analyses</li>
                    <li>linear Algebra</li>
                    <li>discrete mathematics</li>
                    <li>statistics</li>
                </ul>
            </div>

            <div :class="{ deop:currentActive==4 }" class="not-shown">
                <h1>DJANGO</h1>
                <ul>
                    <li>DJANGO built in Models</li>
                    <li>Function-based views</li>
                    <li>Class-based views</li>
                    <li>APIs</li>
                    <li>Software Testing</li>
                </ul>
            </div>
        </div>





        <footer class="mt-5 p-5 text-light d-flex justify-content-around flex-wrap " data-aos="fade-up" id="footer">
            <ul class=" lh-lg ">
                Abdallah Mohsen
                <li>01147848630</li>
                <li>01158866821</li>
            </ul>


            <div class="social ">
                <a href="#" class="facebook "><i class="fa-brands fa-facebook-f "></i></a>
                <a href="https://www.youtube.com/channel/UCvubwiAEVZnspwmREExYJRg" class="youtupe "><i class="fa-brands fa-youtube "></i></a>
                <a href="#" class="twitter "><i class="fa-brands fa-twitter "></i></a>
                <a href="https://www.linkedin.com/in/abdalla-mohsen-3a9553227/" class="linked "><i class="fa-brands fa-linkedin-in "></i></a>
            </div>

        </footer>

    </div>

    <script src="js/bootstrap.bundle.min.js "></script>
    <script src="js/all.min.js "></script>
    <script src="js/vue.js "></script>
    <script src="js/ctrl.js "></script>


    <script src="https://unpkg.com/aos@next/dist/aos.js "></script>
    <script>
        AOS.init();
    </script>


</body>

</html>